setuptools==65.5.0
wheel==0.38.4
numpy==1.23.5  # Critical for Python 3.13
attrs==25.3.0
blinker==1.9.0
blis==0.7.11
catalogue==1.0.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cryptography==41.0.7
cycler==0.12.1
cymem==2.0.11
docx2txt==0.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa
Flask==3.1.0
flask-cors==6.0.0
Flask-SQLAlchemy==3.1.1
fonttools==4.58.0
greenlet==3.2.2
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.9.4
murmurhash==1.0.12
nltk==3.9.1
packaging==25.0
pandas==2.2.3
pdfminer.six==20250506
pillow==11.2.1
plac==1.1.3
preshed==3.0.9
pycparser==2.22
pycryptodome==3.22.0
pyparsing==3.2.3
pyresparser==1.0.6
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rpds-py==0.24.0
scikit-learn==1.0.2
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
sortedcontainers==2.4.0
spacy==2.3.9
SQLAlchemy==2.0.41
srsly==1.0.7
thinc==7.4.6
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wasabi==0.10.1
Werkzeug==3.1.3
zipp==3.21.0
